@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

body {
  background-color: #ffffff;
}

.dark body {
  background-color: #09090b;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: white;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.main-container {
  height: calc(100vh - 56px);
  overflow-y: auto;
}

button {
  cursor: pointer;
}
